# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
*.off
*.old

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# building
target
build
null
tmp*
temp*
dist
test-output

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

# IntelliJ files
.idea
*.iml

